.outerCartContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    align-items: top;
    justify-content: center;
}
.productsList{
    width: 70vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 189, 176);
}
.checkout{
    width: 30vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 210, 156);
    position: sticky;
    top: 15vh;
}
.removeCheckout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}