.cardouter{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.imageholder{
    margin-bottom: 2%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.imageholder img{
    height: 300px;
    width: 300px;
}
.textcomponent{
    align-self: self-start;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 5%;
}
a.cardlink{
    text-decoration: none;
    color: inherit;
}
p{
    margin: 0%;
}
p:hover{
    cursor: pointer;
}
p.title{
    font-size: x-large;
}
p.title:hover{
    text-decoration: underline;
}