.outer{
    display: flex;
    flex-direction: column;
}
.banner{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: -webkit-fill-available;
}
.imgcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.imgcontainer img{
    width: 75%;
    height: inherit;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.border{
    position: relative;
    margin-top: 15vh;
    height: auto;
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 30vw;
    height: 100vh;
    background-color: beige;
    position: sticky;
    top: 10vh;
    padding: 10px;
}
.filterbox{
    display: flex;
    flex-direction: column;
}
.filterboxheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filterbody{
    display: flex;
    flex-direction: column;
    width: 25vw;
    flex-wrap: wrap;
}
.values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 50px;
    width: 100%;
}
.b{
    display: flex;
    justify-content: space-between;
    width: 95%;
    border: none;
    background: none;
}
.filtercontent{
    width: fit-content;
    height: fit-content;
}
ul {
    list-style-type: none;
    gap: 10px;
}
.optionbox{
    margin-top: 4%;
    border-style: solid;
    border-color: rgb(45, 43, 43);
    border-width: 1px;
    border-radius:10px;
    padding: 5px;
    width: 100px;
}
li{
    padding: 2px;
    display: flex;
    gap: 3px;
    justify-content: space-evenly;
}
input{
    cursor: pointer;
}
label{
    cursor: pointer;
}
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the width of each column as needed */
    gap: 20px; 
    padding: 20px;
    padding-top: 5%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.filterboxheader hr {
    color: black !important;
    width: 95%;
    margin: 5px 0%;
}